* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

input {
    height: 45px;
    width: 100%;
    color: #e9f2ff;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #e9f2ff;
    border-radius: 5px;
    padding-left: 25px;

}
input:focus {
    outline: none;
    border: 2px solid #c1d9fd;
}
main {
    background: #f1f5fe;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@keyframes fadeCircle {
    0% {
        width: 2534px;
        height: 2534px;
    }
    25% {
        width: 2000px;
        height: 2000px;
    }
    50% {
        width: 1500px;
        height: 1500px;
    }
    75% {
        width: 1000px;
        height: 1000px;
    }
    100% {
        width: 650px;
        height: 650px;
    }
}

.register-form-container {
    opacity: 0;
    position: relative;
    z-index: 2;
    max-width: 1400px;
    height: 650px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(87, 131, 227, 0.7);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeForm {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}

.divider {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #405d87;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* для main_page.html*/
.profile-form__content {
    margin-top:15px ;
    height: 100%;

}


.profile-form-container {
    display: flex;
    justify-content: space-between;
}

.container__buttons {
    display: flex;
    justify-content: space-between;
}

.profile-button {
    margin-top: 15px;
    margin-right: 30px;
}

.profile-button__used {
    text-decoration: none;
    transition: 1s;
}

h4 {
    transition: 1s;
}
h4:hover {
    transform: scale(1.2);
}

.avatar-img {
    width: 200px;
    height: 200px;
}

.profile-img {
    margin-top: 50px;
}

.profile-page__name {
    width: 300px;
    margin-right: 10px;
}

.profile-form__content {
    display: flex;
}

.profile-page__info {
    margin-top: 50px;
}

.profile-form__name__block {
    vertical-align: middle;
    margin-left: 50px;
    height: 100px;
}

input {
    color: black;
}

h1 {
    font-size: 25px;
}

.button {
    border-radius: 15px;
    height: 45px;
    background-color:#e9f2ff ;
    display: block;
    margin: 10px;
    justify-content: center;
    text-align: center;
    transition: 1s;
}


.button:hover {
    transform: scale(1.1);
}

.recorder-form-container {
    margin-left: 150px;
    margin-top: 45px;
    opacity: 0;
    position: relative;
    z-index: 2;
    max-width: 1400px;
    height: 85%;
    width: 40%;
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(87, 131, 227, 0.7);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.form-title {
    font-size: 20px;
}

.recorder-form-container__records {
    margin-top: 15px;
    opacity: 0;
    position: relative;
    z-index: 2;
    max-width: 1400px;
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(68, 241, 154, 0.7);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: space-around;
}

.info-records {
    display: flex;
    justify-content: flex-start;
}





